@import "tailwindcss";

@theme {
  --color-azul-marinho: #1a237e;
  --color-verde-esmeralda: #2e7d32;
  --color-vermelho-alerta: #c62828;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
